@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.caja {
    width: 200px;
    height: 200px;
    background-color: red;
    box-shadow: 20px 20px 20px 10px black;
}
.caja h1{
    font-size: 60px;
    color: rgb(74, 74, 182);
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    
}
.caja button{
    font-size: 30px;
    color: rgb(74, 74, 182);
    text-align: center;
    box-shadow: 20px 20px 20px 10px black;
    font-family: "Poppins", sans-serif;
}